# Ignore all by default
/*

# Include auto*sh files
!/.auto.*.sh

# Include config/nvim*
!/.config/nvim/*
/.config/nvim/lazy-lock.json

# Ignore extras (that might have passed wildcard checks)
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
